{% load i18n %}
{% autoescape off %}
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;margin-left:auto;margin-right:auto;" align="center" >
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-bottom:2px solid #3A3435;padding-top:40px;padding-bottom:20px;">
        <tr>
          <td>
            {% if logo_url %}
              <img src="{{ logo_url }}"/>
            {% else %}
              {{ site_name }}
            {% endif %}
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td style="text-align:center;padding-top:36px;padding-bottom:30px;font-size:24px;">{% translate 'Email authentication' %}</td>
        </tr>
        <tr>
          <td style="padding-bottom:18px;font-size:20px;line-height:20px;">
            <b>{% blocktranslate %}Dear {{ call_name }}{% endblocktranslate %},<br /></b>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td style="font-size:16px;line-height:20px;">
            {% translate "Please enter auth code below to complete email authentication." %}
          </td>
        </tr>

      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#f5f4f5;border-radius:4px;padding:30px 20px;margin-top:30px;margin-bottom:30px;">
        <tr>
          <td style="text-align:center;font-size:32px;letter-spacing:2px;">
            {{ auth_code.code }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td style="font-size:16px;line-height:20px;">
            {% translate "To secure your personal information, this code is available within 15 minutes." %}
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top:2px solid #3A3435;margin-top:30px">
        <tr>
          <td style="text-align:right;padding-top:10px;padding-bottom:20px;font-size:14px;color:#ADADAD;line-height:20px;">
            {{ site_name }}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endautoescape %}
